<div id="app-splash" class="app-splash">

<div class="splash-wave splash-wave-one"></div>
<div class="splash-wave splash-wave-two"></div>

<div class="splash-content">

<img
    src="/static/brand/logo-white.png"
    alt="Ecuavisa"
    class="splash-logo">

<div class="splash-company">
ECUAVISA UIO
</div>

<div class="splash-app">
{{ app_name }}
</div>

<div class="splash-description">
{{ app_description }}
</div>

<div class="splash-progress">
<div></div>
</div>

<div class="splash-loading">
Cargando panel...
</div>

</div>

</div>
