[Unit]
Description=WireGuardVPN Ecuavisa - Technical Dashboard
After=network-online.target wg-quick@wg0.service wireguardvpn-firewall.service
Wants=network-online.target

[Service]
ReadWritePaths=/etc/wireguard
ReadWritePaths=/srv/WireGuardVPN/data/peers
ReadWritePaths=/srv/WireGuardVPN/config/peers
Type=simple
User=tecnico_uio
Group=tecnico_uio
WorkingDirectory=/srv/WireGuardVPN

ExecStart=/srv/WireGuardVPN/dashboard/.venv/bin/uvicorn \
    dashboard.app:app \
    --host 127.0.0.1 \
    --port 8095

Restart=on-failure
RestartSec=3

NoNewPrivileges=false
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
