[Interface]

Address = 10.8.0.1/24
ListenPort = 51820
PrivateKey = <SERVER_PRIVATE_KEY>
MTU = 1360
SaveConfig = false

# Firewall / NAT / RBAC:
#
# Managed independently by:
#
#   /srv/WireGuardVPN/scripts/firewall_apply.sh
#
# Chains:
#
#   WG-INPUT
#   WG-FORWARD
#   WG-NAT
#
# Peers are persisted below as individual [Peer] sections.
